<div class="panel panel-default container col-lg-5 col-lg-offset-2 user-detail" md-whiteframe="20">
    <div class="panel-heading"><h4>Group form</h4></div>
    <div class="panel-body">
        <md-content class="md-no-momentum">
            <md-input-container md-no-float class="md-block">
                <input type="text" placeholder="Name" ng-model="$ctrl.user.userName">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.firstName" type="text" placeholder="Title">
            </md-input-container>
        </md-content>
        <a href="#" class="btn btn-theme" style="color: white">Create</a>
    </div>
</div>