<div class="panel panel-default container col-lg-5 col-md-5 col-sm-12 user-detail" md-whiteframe="20">
    <div class="panel-heading"><h4>User form</h4></div>
    <div class="panel-body">
        <md-content class="md-no-momentum">
            <input type="text" ng-model="$ctrl.asyncSelected" placeholder="Group name..."
                   uib-typeahead="group as group.groupName for group in $ctrl.findGroup($viewValue)"
                   typeahead-loading="loadingGroups"
                   typeahead-no-results="noResults" class="form-control">
            <md-input-container md-no-float class="md-block">
                <input type="text" placeholder="Username" ng-model="$ctrl.user.username">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.firstName" type="text" placeholder="First name">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.lastName" type="text" placeholder="Last name">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>
        </md-content>
        <a href="#" class="btn btn-theme" style="color: white" ng-click="$ctrl.create()">Create</a>
    </div>
</div>