<div class="panel panel-default container col-lg-6 col-md-5 col-sm-12 user-detail" md-whiteframe="20">
    <div class="panel-heading"><h4>{{$ctrl.user.firstName + " " + $ctrl.user.lastName}}</h4></div>
    <div class="panel-body">
        <md-content class="md-no-momentum">
            <md-input-container md-no-float class="md-block">
                <input type="text" placeholder="Username" ng-model="$ctrl.user.username">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.firstName" type="text" placeholder="First name">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.lastName" type="text" placeholder="Last name">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <input ng-model="$ctrl.user.email" type="email" placeholder="Email (required)" ng-required="true">
            </md-input-container>
        </md-content>
        <a href="#" class="btn btn-theme" style="color: white">Save</a>
    </div>
</div>
<div class="panel panel-default container col-lg-5 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 user-detail"
     md-whiteframe="20">
    <div class="panel-heading"><h4>User groups</h4></div>
    <table class="table table-bordered user-table">
        <thead style="background-color: lightgrey">
        <tr>
            <th>#</th>
            <th>Group name</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in $ctrl.user.group"
            ui-sref="groups.detail({groupName: group.groupName})">
            <th scope="row">{{$index + 1}}</th>
            <td>{{group.groupName}}</td>
            <td>{{group.title}}</td>
        </tr>
        </tbody>
    </table>
</div>